@import "../../../styles/variables";

.comment-section {
  max-height: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 0 15px 0;

  & .comments {
    max-height: 180px;
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none !important;
    }
  }

  & .postComment {
    border-top: 1px solid #f7eded;
    padding-top: 20px;
    min-height: 40px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .avatarImage {
      border-radius: 50%;
      vertical-align: top;
      width: 40px;
      min-width: 40px;
      max-width: 40px;
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      background-size: cover;
      background-position: center;
    }


    & textarea {
      width: calc(77% - 40px);
      max-width: 90%;
      border: none;
      height: 40px;
      max-height: 100px;
      border-radius: 25px;
      padding: 10px;
      font-size: 14px;
      background-color: lighten($main-red, 33%);
    }

    & a {
      align-self: flex-end;
      cursor: pointer;
      width: 17%;
      margin-left: 3%;
      height: 40px;
      display: grid;
      place-items: center;
      background-color: $main-red;
      text-align: center;
      color: white;
      border-radius: 25px;
      transition: 0.3s all ease;
    }
  }
}
@import "comment-section-smartphone.component";
