@import "../../../styles/variables";
@media(max-width: 800px) {
  .post {
    width: 100% !important;
    box-shadow: $box-shadow;
    padding: 20px;
    border-radius: 5px;
    & .post_header {

      & .avatarImage {
        width: 40px;
        height: 40px;
      }

      & .post-header-middle {
        & a {
          width: 100%;
        }

        & .topics {

          & .topic {

            & a {
            }
          }
        }
      }


      & i {
        &:hover {
        }
      }
    }

    & .post_body {
      flex-direction: column-reverse;
      & .post_text {
        &::-webkit-scrollbar {
          display: none;
        }
      }
      & .post_image {
        width: 100% !important;
        margin-bottom: 30px;
      }
      & .post_image_inner {
        width: 100% !important;
        height: 100% !important;
      }

      & .swiper-button-prev:after, & .swiper-button-next:after{
      }
      & .post_image {
        width: 150px;
        height: 150px;
      }
    }

    & .post_bottom {

      & i {

        display: grid;
        place-items: center;
        width: 40px;
        cursor: pointer;
        color: $main-red;
      }

      & a {
        font-size: 12px;
        color: $main-red;
        text-align: right;
        width: calc(100% - 80px);

      }
    }
  }
}
