<div id="login-container">
  <div id="login-header">
    <img src="assets/images/illustrations/dashboard/books.png">
  </div>
<form [formGroup]="loginData">
  <h2>Login</h2>
  <mat-form-field>
    <mat-label i18n="@@component.login.form.email">E-Mail</mat-label>
    <input matInput type="email" placeholder="E-Mail" formControlName="email"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label i18n="@@component.login.form.password">Password</mat-label>
    <input matInput type="password" placeholder="Password" formControlName="password"/>
  </mat-form-field>

  <span *ngIf="loginFailed"
        i18n="@@component.login.form.errorMessage">{{this.errorMessage}}</span>

  <a type="submit" id="login-button" i18n="@@component.login.login" (click)="login()">LOGIN</a>
  <a (click)="navigateToRegister()">Register</a>
  <div id="login-socialMedia">
    <div class="socialMedia-icon google" (click)="loginWithGoogle()">
    </div>
    <div class="socialMedia-icon facebook" (click)="loginWithGoogle()">
    </div>
    <div class="socialMedia-icon apple" (click)="loginWithGoogle()">
    </div>
  </div>

</form>
  <div id="title">
    <h1>
      School Forum
    </h1>
    <h2>Give, Get and learn. Now.</h2>
  </div>

  <img id="smartphone-image" src="assets/images/illustrations/dashboard/books.png">
</div>
