@import "variables";

.topics {
  border-bottom: 1px solid lighten($main-red, 33%);
  padding: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  & .topic {
    height: 30px;
    border-radius: 25px;
    background-color: $main-red;
    display: flex;
    padding: 5px;
    color: white;
    cursor: pointer;

    &:hover {
      box-shadow: $box-shadow;
    }

    & a {
      flex: 0.8;
      padding-right: 10px;
      display: grid;
      align-items: center;
      font-size: 12px;
    }

    & i {
      display: grid;
      align-items: center;
      font-size: 10px;
    }
  }
}

.fixed-dashboard {
  & #dashboard-inner {
    height: 25vh !important;
    position: fixed;

    & #dashboard-frames {
      display: none !important;
    }
  }

  & #content {
    z-index: 100;
    transform: translateY(320px) !important;

    & #content-left {
      & #content-title {
      }
    }
  }
}

.addTagClosed {
  height: 0 !important;
  overflow: hidden;
  padding: 0 !important;
}

.addTag {
  transition: 0.3s all ease;
  position: absolute;
  padding: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: transparentize($main-red, 0.6);
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  & i {
    text-align: right;
    color: $main-red;
    cursor: pointer;
    width: 20px;
    align-self: flex-end;

    &:hover {
      text-shadow: $box-shadow;
    }
  }

  & h3 {
    text-align: center;
    color: white;
    text-shadow: $box-shadow;
    font-weight: 600;
  }

  & input {
    height: 40px;
    border-radius: 25px;
    padding: 0 15px;
    border: unset;
  }

  & a {
    background-color: $main-red;
    border-radius: 25px;
    padding: 0 15px;
    display: grid;
    align-items: center;
    color: white;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all ease;

    &:hover {
      box-shadow: $box-shadow;
    }
  }
}

.fixed {
  position: fixed !important;
  height: 25vh !important;
  top: 130px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.blur-opened {
  z-index: 1000000 !important;
  position: fixed !important;;
  width: 104vw !important;;
  height: 104vh !important;;
  top: -2% !important;;
  left: -2% !important;;
  backdrop-filter: blur(5px);
  background-color: transparentize(black, 0.4) !important;;
}

.blur {
  z-index: -1000000;
  position: fixed;
  width: 104vw;
  height: 0vh;
  top: 0;
  transition: 0.3s all ease;
  overflow: hidden;
}

.modal {
  z-index: -1000000;
  overflow: hidden;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0vh;
  transition: 0.3s all ease;
  background-color: white;
  position: fixed;
  border-radius: 15px;
}

.modal-opened {
  z-index: 1000000 !important;;
  width: 50vw !important;;
  left: 50% !important;;
  top: 50% !important;;
  transform: translate(-50%, -50%) !important;;
  height: 70vh !important;;
  background-color: white !important;;
  position: fixed !important;;
  border-radius: 15px !important;;
}

.modal-opened-lg {
  z-index: 1000000 !important;;
  width: 70vw !important;;
  left: 50% !important;;
  top: 50% !important;;
  transform: translate(-50%, -50%) !important;;
  height: 85vh !important;;
  background-color: white !important;;
  position: fixed !important;;
  border-radius: 15px !important;;
}

.half-row {
  flex: 0 0 45% !important;
}

.double-height {
}
.loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  text-align: center;
  display: grid;
  align-items: center;
  z-index: 100;
  & img{
    width: 140%;
    margin-left: -20%;
    height: auto;
  }
}
.swiper-wrapper{
  display: flex !important;
}
