$sidebarWidth: 16vw;
$sidebarMaxWidth: 200px;
$sidebarHeight: 8vw;
$sidebarMaxHeight: 100px;


$main-black: rgba(58, 68, 80);
$main-red: rgba(194, 124, 121);

$main-light-red: rgba(216, 101, 109);
$main-blue: rgba(79, 129, 176);
$main-orange: rgba(229, 166, 75);
$main-gray: rgba(115, 112, 134);

$box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15),
0 2px 2px rgba(0, 0, 0, 0.15),
0 4px 4px rgba(0, 0, 0, 0.15),
0 8px 8px rgba(0, 0, 0, 0.15);

$box-shadow-bigger: 0 1px 1px rgba(0, 0, 0, 0.15),
0 3px 3px rgba(0, 0, 0, 0.15),
0 6px 6px rgba(0, 0, 0, 0.15),
0 12px 12px rgba(0, 0, 0, 0.15);
