image: node:10

pipelines:
  branches:
    master:
      - step:
          name: Installation
          caches:
            - node
          script:
            - npm install
          artifacts:
            - node_modules/**
      - step:
          name: Lint
          script:
            - npm run lint
