<div class="book" *ngIf="book">
  <div class="book_header">
    <div class="avatarImage"
         [style]="'background-image: url('+book?.seller?.profilePicture?.path+')'"
         (click)="navigateToURL()"
    ></div>
    <div class="book-header-middle">
      <a>{{book?.name}}</a>
      <div class="topics">
        <div class="topic" *ngFor="let topic of book?.topics, let i = index">
          <a>{{topic.name}}</a>
        </div>
      </div>
    </div>
    <div *ngIf="account$ |async as account">
      <div class="relative" *ngIf="book.seller.id === account.id">
        <i class="material-icons" (click)="editModalComponent.toggle()">more_vert</i>
        <app-edit-modal (onDelete)="delete()" (onEdit)="edit()" #editModalComponent></app-edit-modal>
      </div>
    </div>
  </div>
  <div class="book_body">
    <div class="book_text">
      <h2 i18n="@@component.home.addBook.isbn">ISBN: <h4>{{book?.isbn}}</h4></h2>
      <h2 i18n="@@component.home.addBook.author">Author: <h4>{{book?.author}}</h4></h2>
      <h2 i18n="@@component.home.addBook.name">Name: <h4>{{book?.name}}</h4></h2>
      <h2 i18n="@@component.home.addBook.price">Price: <h4>{{book?.price}}€</h4></h2>
      <h2 i18n="@@component.home.addBook.status">Status: <h4>{{book?.status}}</h4></h2>
      <h2 i18n="@@component.home.addBook.description">Description: <h4>{{book?.description}}</h4></h2>
      <a i18n="@@component.home.addBook.contactMe" class="contact-me" [href]="'mailto:'+book.seller.email">Contact
        me</a>
    </div>
    <div  *ngIf="(images$ | async) as images">
    <swiper *ngIf="images.length > 0"
            [class]="images.length===1?'swiper-container book_image noArrows':'swiper-container book_image'">
      <ng-template swiperSlide *ngFor="let image of images">
        <div class="swiper-wrapper book_image_inner">
          <div class="swiper-slide book_image_inner"
               [style]="'background-image: url('+image.path+')'"></div>
        </div>
      </ng-template>
    </swiper>
    </div>
  </div>
  <div class="book_bottom">
    <i class="material-icons">thumb_up</i>
  </div>
</div>

