@media(max-width: 800px) {
  #dashboard {
    #content {
      flex-direction: column;
      padding: 20px;
      &::-webkit-scrollbar {
        display: none !important;
      }

      & #content-left {
        padding: 0 5%;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        & #content-title {
          height: 150px;
          margin-left: 25px;
          width: 100%;
          color: white;
          padding-bottom: 50px;
          & h1 {

          }

          & h2 {

          }
        }

        flex: 0.2;

        & #postQuestion {
            display: none !important;
          & .addTagClosed {
          }

          & .addTag {
            & i {
              &:hover {
              }
            }

            & h3 {
            }

            & input {
            }

            & a {
            }
          }

          & #postQuestion_header {
            & div.avatarImage {
            }
            & #postQuestion_textAreas {
              & textarea {
                &:first-child {
                }
                &::-webkit-scrollbar {
                }
              }
            }
          }


          & #postQuestion-bottom {
            & .postQuestion-bottom-left {
              & i {
                &:hover {
                }
              }

              & .uploadImage {
                & input {
                }
              }
            }

            & a {
            }
          }

        }
      }

      & #content-right {
        overflow: visible;
        width: 100%;
        padding: unset;
        max-height: calc(100vh - 280px);
        min-height: calc(100vh - 280px);
        margin-top:100px;

        &::-webkit-scrollbar {
          display: none !important;
        }

        & app-post {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
  }

  .fixed-dashboard {
    & #dashboard-inner {
      height: 25vh !important;
      position: fixed;

      & #dashboard-frames {
        display: none !important;
      }
    }

    & #content {
      z-index: 100;
      transform: translateY(20px) !important;

      & #content-left {
        & #content-title {
        }
      }
    }
  }

  .scroll {
    overflow-y: scroll !important;
  }
}
