@import "../../styles/variables";
#dashboard {
  width: 100%;
  place-items: center;
  transition: 0.3s all ease;

  & #dashboard-inner {
    width: 100%;
    height: 70vh;
    min-height: 35vh !important;
    background-color: $main-red;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    top: -150px;
    padding: 0 40px;
    position: sticky;
    & #dashboard-frames {
      width: 100%;
      padding: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;

    }
  }

  #content {
    width: 100%;
    transform: translateY(-65vh);
    padding: 0 95px;
    height: auto;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    //top: 130px;
    //max-height: calc(100vh - 130px);
    // overflow: scroll;
    &::-webkit-scrollbar {
      display: none !important;
    }

    & #content-left {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 640px;
      width: 25%;
      z-index: 100;

      & #content-title {
        height: 150px;
        width: 100%;
        color: white;
        padding-bottom: 50px;

        & h1 {

        }

        & h2 {

        }
      }
    }

    & #content-right {
      z-index: 20;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      overflow-y: hidden;
      transform: translateY(-410px);
      &::-webkit-scrollbar {
        display: none !important;
      }

      & app-book {
        width: 85%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }
}


.scroll {
  overflow-y: scroll !important;
}

@import "books.component.smartphone";

