#  Template maven-build

#  This template allows you to test and build your Java project with Maven.
#  The workflow allows running tests, code checkstyle and security scans on the default branch.

# Prerequisites: pom.xml and appropriate project structure should exist in the repository.

image: quay.io/quarkus/centos-quarkus-maven:19.3.1-java8

pipelines:
  branches:
    staging:
        - parallel:
          - step:
                name: Test
                script:
                  - mvn -B verify --file pom.xml
                after-script:
                  - pipe: atlassian/checkstyle-report:0.2.0
          - step:
                name: Security Scan
                script:
                  - pipe: atlassian/git-secrets-scan:0.4.3
        - step:
            name: Building Native Container
       
            script:
              - mvn package -Pnative -Dquarkus.native.container-build=true
              - docker build -f src/main/docker/Dockerfile.native -t quarkus/code-with-quarkus .
            # - docker build -f src/main/docker/Dockerfile.fast-jar -t quarkus/code-with-quarkus-fast-jar .

    default:
        - parallel:
          - step:
              name: Build and Test
              caches:
                - maven
              script:
                - mvn -B verify --file pom.xml
              after-script:
                  # Collect checkstyle results, if any, and convert to Bitbucket Code Insights.
                - pipe: atlassian/checkstyle-report:0.2.0
          - step:
              name: Security Scan
              script:
                - pipe: atlassian/git-secrets-scan:0.4.3     
                
                
definitions:
  services:
    docker:
      memory: 2048  # increse memory for docker-in-docker
    

